body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: gray;
}
li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a{
    color: rgb(181, 55, 55);
}
body {
    background-color: ivory;
}
.resumelistheading{
    font-weight: bold;
    font-style: normal;
}
.underline{
    text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}